{% load crispy_forms_tags %}
<div id="modifiable-team-page" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-target="this" hx-swap="outerHTML" class="d-flex flex-column flex-md-row w-100 mt-4">
    <div class="w-100 w-md-50">
        <h3>{{team.name}}</h3>
        <div class="table-responsive pokemon-table compact">
            <table class="table table-dark table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="pokemon-sprite"></th>
                        <th class="table-cell-medium">
                            <a class="w-100 d-inline-flex align-items-center justify-content-between pe-none" href="#">Name</a>
                        </th>
                        <th class="table-cell-small">
                            <a class="w-100 d-inline-flex align-items-center justify-content-between pe-none" href="#">Pts</a>
                        </th>
                        <th class="table-cell-small">
                            <a class="w-100 d-inline-flex align-items-center justify-content-between pe-none" href="#">Remove from Roster</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in pokemon %}
                        <tr>
                            <td class="pokemon-sprite">
                                <div>
                                    <img src="{{ p.sprite_url }}" alt="Pokemon Sprite">
                                </div>
                            </td>
                            <td class="table-cell-medium text-capitalize">{{ p.name }}</td>
                            <td class="table-cell-small">{{ p.point_value }}</td>
                            <td class="table-cell-small"><button class="btn btn-secondary" hx-post="{%  url 'leagues:adminModifiableTeam' league_id=league.id team_id=team.id %}?action=remove&pokemonId={{p.id}}"><i class="fa-solid fa-trash-can"></i></button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h3>Total Points: {{totalPoints}}</h3>
    </div>
    <div class="d-flex flex-column w-100 w-md-50" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-target="#admin-simple-search-results-page" hx-swap="innerHTML" hx-include="#admin-simple-search-form">
        <div class="w-100" hx-post="{%  url 'leagues:adminSimpleSearchResults' league_id=league.id team_id=team.id %}" hx-trigger="load">
            <div id="admin-simple-search-results-page"></div>
        </div>
        <div class="me-md-5 px-2">
            <div class="sticky-header bg-dark text-white rounded shadow p-4 mb-2">
                <h3>Pokemon Search</h3>
                <button class="btn btn-secondary mt-2 w-100" hx-post="{%  url 'leagues:adminSimpleSearchResults' league_id=league.id team_id=team.id %}" hx-trigger="click">Search</button>
            </div>
            <form id="admin-simple-search-form" class="d-flex flex-column" hx-post="{%  url 'leagues:adminSimpleSearchResults' league_id=league.id team_id=team.id %}" hx-trigger="submit">
                {{ form|crispy }}
            </form>
        </div>
    </div>
</div>