<div id="team-matchup-special-moves-{{team.id}}">
    <div class="table-responsive pokemon-table responsive">
        <table class="table table-dark table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th class="table-cell-medium">Category</th>
                    <th>Moves</th>
                </tr>
            </thead>
            <tbody>
                {% for c in categories %}
                    <tr>
                        {% with specialMoves|get_item:c as list %}
                            <td class="text-capitalize">{{ c }}</td>
                            <td>
                                <div class="d-flex flex-row align-items-center" style="gap: 0.5rem; flex-wrap: wrap;">
                                    {% for sm in list %}
                                        {% with sm|get_item:'pokemon' as p %}
                                        {% with sm|get_item:'move' as m %}
                                        {% with sm|get_item:'type' as t %}
                                            <div class="d-flex flex-row align-items-center" style="gap: 0.5rem; white-space: nowrap; padding: 0.125rem 0.5rem; justify-content: center; border-radius: 0.75rem; background-color: {{ t|get_type_color }};">
                                                <div class="d-flex align-items-center justify-content-center" style="width: 2rem; height: 2rem">
                                                    <img src="{{ p.sprite_url }}" alt="Pokemon Sprite" style="cursor: pointer; max-height: 2rem; max-width: 2rem" hx-get="{% url 'leagues:leaguePokemonModal' league_id=league.id pokemon_id=p.id %}" hx-trigger="click" hx-target="#pokemon-modal" hx-swap="innerHTML"/>
                                                </div>
                                                <div class="text-capitalize">{{ m }}</div>
                                            </div>
                                        {% endwith %}
                                        {% endwith %}
                                        {% endwith %}
                                    {% endfor %}
                                </div>
                            </td>
                        {% endwith %}
                    </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
</div>