<div id="speed-tier-matchup-table">
    <div class="d-inline-flex w-100">
        <div class="w-50">
            <div class="d-flex align-items-center justify-content-center bg-dark text-white py-2" style="border-bottom: 2px solid white">
                <div class="user-profile-picture compact">
                    {% if userTeam.logo %}
                        <img src="{{ userTeam.logo.url }}" alt="Team Logo">
                    {% else %}
                        <img src="/media/defaults/default_team_logo.png" alt="Team Logo">
                    {% endif %}
                </div>
                <h3 class="text-capitalize mx-5 d-none d-md-flex">{{ userTeam.name }}</h3>
                <div class="user-profile-picture compact d-none d-md-flex">
                    {% if userTeam.logo %}
                        <img src="{{ userTeam.logo.url }}" alt="Team Logo">
                    {% else %}
                        <img src="/media/defaults/default_team_logo.png" alt="Team Logo">
                    {% endif %}
                </div>
            </div>
            <div class="pokemon-table compact">
                <table class="table table-dark table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="pokemon-sprite"></th>
                            <th class="table-cell-medium d-none d-md-table-cell">
                                {% if orderBy == 'name' %}
                                    <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:teamMatchupSpeed' league_id=league.id user_team_id=userTeam.id opponent_team_id=opponentTeam.id %}?order_by=-name" hx-trigger="click" hx-target="#speed-tier-matchup-table" hx-swap="outerHTML">Name<i class="fa-solid fa-arrow-up ms-2"></i></a>
                                {% elif orderBy == '-name' %}
                                    <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:teamMatchupSpeed' league_id=league.id user_team_id=userTeam.id opponent_team_id=opponentTeam.id %}?order_by=name" hx-trigger="click" hx-target="#speed-tier-matchup-table" hx-swap="outerHTML">Name<i class="fa-solid fa-arrow-down ms-2"></i></a>
                                {% else %}
                                    <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:teamMatchupSpeed' league_id=league.id user_team_id=userTeam.id opponent_team_id=opponentTeam.id %}?order_by=name" hx-trigger="click" hx-target="#speed-tier-matchup-table" hx-swap="outerHTML">Name</a>
                                {% endif %}
                            </th>
                            <th class="table-cell-small">
                                {% if orderBy == 'speed' %}
                                    <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:teamMatchupSpeed' league_id=league.id user_team_id=userTeam.id opponent_team_id=opponentTeam.id %}?order_by=-speed" hx-trigger="click" hx-target="#speed-tier-matchup-table" hx-swap="outerHTML">Spd<i class="fa-solid fa-arrow-up ms-2"></i></a>
                                {% elif orderBy == '-speed' %}
                                    <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:teamMatchupSpeed' league_id=league.id user_team_id=userTeam.id opponent_team_id=opponentTeam.id %}?order_by=speed" hx-trigger="click" hx-target="#speed-tier-matchup-table" hx-swap="outerHTML">Spd<i class="fa-solid fa-arrow-down ms-2"></i></a>
                                {% else %}
                                    <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:teamMatchupSpeed' league_id=league.id user_team_id=userTeam.id opponent_team_id=opponentTeam.id %}?order_by=-speed" hx-trigger="click" hx-target="#speed-tier-matchup-table" hx-swap="outerHTML">Spd</a>
                                {% endif %}
                            </th>
                            <th class="table-cell-xsmall d-none d-md-table-cell">
                                <a>0</a>
                            </th>
                            <th class="table-cell-xsmall d-none d-md-table-cell">
                                <a>252</a>
                            </th>
                            <th class="table-cell-xsmall">
                                <a>252+</a>
                            </th>
                            <th class="table-cell-xsmall d-none d-md-table-cell">
                                <a>+1</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in userPokemon %}
                            <tr>
                                <td class="pokemon-sprite">
                                    <div>
                                        <img src="{{ p.sprite_url }}" alt="Pokemon Sprite">
                                    </div>
                                </td>
                                <td class="table-cell-medium text-capitalize d-none d-md-table-cell">{{ p.name|truncatechars:12 }}</td>
                                {% if p.speed >= 200 %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #02ffff; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% elif p.speed >= 150 %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #02ff2a; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% elif p.speed >= 140 %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #2aff08; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% elif p.speed >= 130 %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #66ff00; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% elif p.speed >= 120 %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #9aff00; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% elif p.speed >= 110 %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #ccff00; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% elif p.speed >= 100 %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #fffe00; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% elif p.speed >= 90 %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #ffcc00; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% elif p.speed >= 80 %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #ff9800; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% elif p.speed >= 70 %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #ff6600; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% elif p.speed >= 60 %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #ff3200; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% else %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #ff0000; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% endif %}
                                <td class="table-cell-xsmall d-none d-md-table-cell">{{ p.speed|get_speed:'0' }}</td>
                                <td class="table-cell-xsmall d-none d-md-table-cell">{{ p.speed|get_speed:'252' }}</td>
                                <td class="table-cell-xsmall">{{ p.speed|get_speed:'252+' }}</td>
                                <td class="table-cell-xsmall d-none d-md-table-cell">{{ p.speed|get_speed:'+1' }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="w-50">
            <div class="d-flex align-items-center justify-content-center bg-dark text-white py-2" style="border-bottom: 2px solid white">
                <div class="user-profile-picture compact">
                    {% if opponentTeam.logo %}
                        <img src="{{ opponentTeam.logo.url }}" alt="Team Logo">
                    {% else %}
                        <img src="/media/defaults/default_team_logo.png" alt="Team Logo">
                    {% endif %}
                </div>
                <h3 class="text-capitalize mx-5 d-none d-md-flex">{{ opponentTeam.name }}</h3>
                <div class="user-profile-picture compact d-none d-md-flex">
                    {% if opponentTeam.logo %}
                        <img src="{{ opponentTeam.logo.url }}" alt="Team Logo">
                    {% else %}
                        <img src="/media/defaults/default_team_logo.png" alt="Team Logo">
                    {% endif %}
                </div>
            </div>
            <div class="pokemon-table compact">
                <table class="table table-dark table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="pokemon-sprite"></th>
                            <th class="table-cell-medium d-none d-md-table-cell">
                                {% if orderBy == 'name' %}
                                    <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:teamMatchupSpeed' league_id=league.id user_team_id=userTeam.id opponent_team_id=opponentTeam.id %}?order_by=-name" hx-trigger="click" hx-target="#speed-tier-matchup-table" hx-swap="outerHTML">Name<i class="fa-solid fa-arrow-up ms-2"></i></a>
                                {% elif orderBy == '-name' %}
                                    <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:teamMatchupSpeed' league_id=league.id user_team_id=userTeam.id opponent_team_id=opponentTeam.id %}?order_by=name" hx-trigger="click" hx-target="#speed-tier-matchup-table" hx-swap="outerHTML">Name<i class="fa-solid fa-arrow-down ms-2"></i></a>
                                {% else %}
                                    <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:teamMatchupSpeed' league_id=league.id user_team_id=userTeam.id opponent_team_id=opponentTeam.id %}?order_by=name" hx-trigger="click" hx-target="#speed-tier-matchup-table" hx-swap="outerHTML">Name</a>
                                {% endif %}
                            </th>
                            <th class="table-cell-small">
                                {% if orderBy == 'speed' %}
                                    <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:teamMatchupSpeed' league_id=league.id user_team_id=userTeam.id opponent_team_id=opponentTeam.id %}?order_by=-speed" hx-trigger="click" hx-target="#speed-tier-matchup-table" hx-swap="outerHTML">Spd<i class="fa-solid fa-arrow-up ms-2"></i></a>
                                {% elif orderBy == '-speed' %}
                                    <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:teamMatchupSpeed' league_id=league.id user_team_id=userTeam.id opponent_team_id=opponentTeam.id %}?order_by=speed" hx-trigger="click" hx-target="#speed-tier-matchup-table" hx-swap="outerHTML">Spd<i class="fa-solid fa-arrow-down ms-2"></i></a>
                                {% else %}
                                    <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:teamMatchupSpeed' league_id=league.id user_team_id=userTeam.id opponent_team_id=opponentTeam.id %}?order_by=-speed" hx-trigger="click" hx-target="#speed-tier-matchup-table" hx-swap="outerHTML">Spd</a>
                                {% endif %}
                            </th>
                            <th class="table-cell-xsmall d-none d-md-table-cell">
                                <a>0</a>
                            </th>
                            <th class="table-cell-xsmall d-none d-md-table-cell">
                                <a>252</a>
                            </th>
                            <th class="table-cell-xsmall">
                                <a>252+</a>
                            </th>
                            <th class="table-cell-xsmall d-none d-md-table-cell">
                                <a>+1</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in opponentPokemon %}
                            <tr>
                                <td class="pokemon-sprite">
                                    <div>
                                        <img src="{{ p.sprite_url }}" alt="Pokemon Sprite">
                                    </div>
                                </td>
                                <td class="table-cell-medium text-capitalize d-none d-md-table-cell">{{ p.name|truncatechars:12 }}</td>
                                {% if p.speed >= 200 %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #02ffff; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% elif p.speed >= 150 %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #02ff2a; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% elif p.speed >= 140 %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #2aff08; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% elif p.speed >= 130 %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #66ff00; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% elif p.speed >= 120 %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #9aff00; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% elif p.speed >= 110 %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #ccff00; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% elif p.speed >= 100 %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #fffe00; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% elif p.speed >= 90 %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #ffcc00; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% elif p.speed >= 80 %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #ff9800; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% elif p.speed >= 70 %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #ff6600; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% elif p.speed >= 60 %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #ff3200; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% else %}
                                    <td class="table-cell-small speed-stat-text" style="background-color: #ff0000; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                                {% endif %}
                                <td class="table-cell-xsmall d-none d-md-table-cell">{{ p.speed|get_speed:'0' }}</td>
                                <td class="table-cell-xsmall d-none d-md-table-cell">{{ p.speed|get_speed:'252' }}</td>
                                <td class="table-cell-xsmall">{{ p.speed|get_speed:'252+' }}</td>
                                <td class="table-cell-xsmall d-none d-md-table-cell">{{ p.speed|get_speed:'+1' }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>