{% extends 'leagues/base.html' %}

{% block title %}
    Team Matchup
{% endblock %}
    
{% block content %}
    <div class="d-flex flex-column flex-md-row align-items-center mb-3" style="gap: 0.5rem">
        <h3 class="mb-0">Team Matchup:</h3>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if userTeam %}
                    {{ userTeam.name }}
                {% else %}
                    Select a Team
                {% endif %}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for team in teams %}
                    <a class="dropdown-item" href="?userTeamId={{team.id}}&opponentTeamId={{opponentTeam.id}}">{{ team.name }}</a>
                {% endfor %}
            </div>
        </div>
        <h3 class="mb-0">VS</h3>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if opponentTeam %}
                    {{ opponentTeam.name }}
                {% else %}
                    Select a Team
                {% endif %}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for team in teams %}
                    <a class="dropdown-item" href="?userTeamId={{userTeam.id}}&opponentTeamId={{team.id}}">{{ team.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if userTeam and opponentTeam %}
        <button id="speedTierCollapseButton" class="btn btn-secondary expansion-button" type="button" data-bs-toggle="collapse" data-bs-target="#speedTierCollapse" aria-expanded="false" aria-controls="speedTierCollapse">
            Speed Tiers
        </button>
        <div class="collapse show" id="speedTierCollapse">
            <div hx-get="{%  url 'leagues:teamMatchupSpeed' league_id=league.id user_team_id=userTeam.id opponent_team_id=opponentTeam.id %}" hx-trigger="load" hx-target="#speed-tier-matchup" hx-swap="outerHTML">
                <div id="speed-tier-matchup"></div>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row w-100 mt-2" style="gap: 0.5rem">
            <div class="w-100 w-md-50">
                <button id="userTeamTableCollapseButton" class="btn btn-secondary expansion-button w-100" type="button" data-bs-toggle="collapse" data-bs-target="#userTeamTableCollapse" aria-expanded="false" aria-controls="userTeamTableCollapse">
                    {{ userTeam.name }} Team Table
                </button>
                <div class="collapse" id="userTeamTableCollapse">
                    <div hx-get="{%  url 'leagues:teamMatchupTable' league_id=league.id team_id=userTeam.id %}" hx-trigger="load" hx-target="#user-team-table" hx-swap="outerHTML">
                        <div id="user-team-table"></div>
                    </div>
                </div>
            </div>
            <div class="w-100 w-md-50">
                <button id="opponentTeamTableCollapseButton" class="btn btn-secondary expansion-button w-100" type="button" data-bs-toggle="collapse" data-bs-target="#opponentTeamTableCollapse" aria-expanded="false" aria-controls="opponentTeamTableCollapse">
                    {{ opponentTeam.name }} Team Table
                </button>
                <div class="collapse" id="opponentTeamTableCollapse">
                    <div hx-get="{%  url 'leagues:teamMatchupTable' league_id=league.id team_id=opponentTeam.id %}" hx-trigger="load" hx-target="#opponent-team-table" hx-swap="outerHTML">
                        <div id="opponent-team-table"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}