{% extends 'leagues/base.html' %}

{% block title %}
    Team Matchup
{% endblock %}
    
{% block content %}
    <div class="d-flex flex-column flex-md-row align-items-center mb-3" style="gap: 0.5rem">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if userTeam %}
                    {{ userTeam.name }}
                {% else %}
                    Select a Team
                {% endif %}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for team in teams %}
                    <a class="dropdown-item" href="?userTeamId={{team.id}}&opponentTeamId={{opponentTeam.id}}">{{ team.name }}</a>
                {% endfor %}
            </div>
        </div>
        <h3 class="mb-0">VS</h3>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if opponentTeam %}
                    {{ opponentTeam.name }}
                {% else %}
                    Select a Team
                {% endif %}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for team in teams %}
                    <a class="dropdown-item" href="?userTeamId={{userTeam.id}}&opponentTeamId={{team.id}}">{{ team.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <button id="speedTierCollapseButton" class="w-100 btn btn-secondary expansion-button" type="button" data-bs-toggle="collapse" data-bs-target="#speedTierCollapse" aria-expanded="false" aria-controls="speedTierCollapse">
        Speed Tiers
    </button>
    <div class="collapse show" id="speedTierCollapse">
        <div hx-get="{%  url 'leagues:teamMatchupSpeed' league_id=league.id %}?user_team_id={{userTeam.id}}&opponent_team_id={{opponentTeam.id}}" hx-trigger="load" hx-target="#speed-tier-matchup" hx-swap="outerHTML">
            <div id="speed-tier-matchup">
                <div class="spinner-border" style="margin-top: 0.5rem" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    {% if userTeam and opponentTeam %}
        <div class="w-100 mt-2">
            <div hx-get="{%  url 'leagues:teamMatchupInfo' league_id=league.id team_id=userTeam.id %}" hx-trigger="click" hx-target="#user-team-info" hx-swap="outerHTML">
                <div hx-get="{%  url 'leagues:teamMatchupInfo' league_id=league.id team_id=opponentTeam.id %}" hx-trigger="click" hx-target="#opponent-team-info" hx-swap="outerHTML">
                    <button id="teamInfoCollapseButton" class="btn btn-secondary expansion-button w-100" type="button" data-bs-toggle="collapse" data-bs-target="#teamInfoCollapse" aria-expanded="false" aria-controls="teamInfoCollapse">
                        Team Info
                    </button>
                </div>
            </div>
            <div class="collapse" id="teamInfoCollapse">
                <div class="d-flex flex-column flex-md-row w-100" style="gap: 0.5rem">
                    <div class="team-matchup-panel">
                        <div id="user-team-info">
                            <div class="spinner-border" style="margin-top: 0.5rem" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-matchup-panel">
                        <div id="opponent-team-info">
                            <div class="spinner-border" style="margin-top: 0.5rem" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 mt-2">
            <div hx-get="{%  url 'leagues:teamMatchupTable' league_id=league.id team_id=userTeam.id %}" hx-trigger="click" hx-target="#user-team-table" hx-swap="outerHTML">
                <div hx-get="{%  url 'leagues:teamMatchupTable' league_id=league.id team_id=opponentTeam.id %}" hx-trigger="click" hx-target="#opponent-team-table" hx-swap="outerHTML">
                    <button id="teamTableCollapseButton" class="btn btn-secondary expansion-button w-100" type="button" data-bs-toggle="collapse" data-bs-target="#teamTableCollapse" aria-expanded="false" aria-controls="teamTableCollapse">
                        Team Table
                    </button>
                </div>
            </div>
            <div class="collapse" id="teamTableCollapse">
                <div class="d-flex flex-column flex-md-row w-100" style="gap: 0.5rem">
                    <div class="team-matchup-panel">
                        <div id="user-team-table">
                            <div class="spinner-border" style="margin-top: 0.5rem" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-matchup-panel">
                        <div id="opponent-team-table">
                            <div class="spinner-border" style="margin-top: 0.5rem" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 mt-2">
            <div hx-get="{%  url 'leagues:teamMatchupTypeEffective' league_id=league.id team_id=userTeam.id %}" hx-trigger="click" hx-target="#user-type-effective" hx-swap="outerHTML">
                <div hx-get="{%  url 'leagues:teamMatchupTypeEffective' league_id=league.id team_id=opponentTeam.id %}" hx-trigger="click" hx-target="#opponent-type-effective" hx-swap="outerHTML">
                    <button id="typeEffectiveCollapseButton" class="btn btn-secondary expansion-button w-100" type="button" data-bs-toggle="collapse" data-bs-target="#typeEffectiveCollapse" aria-expanded="false" aria-controls="typeEffectiveCollapse">
                        Type Effective
                    </button>
                </div>
            </div>
            <div class="collapse" id="typeEffectiveCollapse">
                <div class="d-flex flex-column flex-md-row w-100" style="gap: 0.5rem">
                    <div class="team-matchup-panel">
                        <div id="user-type-effective">
                            <div class="spinner-border" style="margin-top: 0.5rem" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-matchup-panel">
                        <div id="opponent-type-effective">
                            <div class="spinner-border" style="margin-top: 0.5rem" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 mt-2">
            <div hx-get="{%  url 'leagues:teamMatchupSpecialMoves' league_id=league.id team_id=userTeam.id %}" hx-trigger="click" hx-target="#user-special-moves" hx-swap="outerHTML">
                <div hx-get="{%  url 'leagues:teamMatchupSpecialMoves' league_id=league.id team_id=opponentTeam.id %}" hx-trigger="click" hx-target="#opponent-special-moves" hx-swap="outerHTML">
                    <button id="specialMovesCollapseButton" class="btn btn-secondary expansion-button w-100" type="button" data-bs-toggle="collapse" data-bs-target="#specialMovesCollapse" aria-expanded="false" aria-controls="specialMovesCollapse">
                        Special Moves
                    </button>
                </div>
            </div>
            <div class="collapse" id="specialMovesCollapse">
                <div class="d-flex flex-column flex-md-row w-100" style="gap: 0.5rem">
                    <div class="team-matchup-panel">
                        <div id="user-special-moves">
                            <div class="spinner-border" style="margin-top: 0.5rem" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="team-matchup-panel">
                        <div id="opponent-special-moves">
                            <div class="spinner-border" style="margin-top: 0.5rem" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}