<div id="team-matchup-type-effective-{{team.id}}">
    <div class="d-flex flex-row flex-wrap" style="justify-content: center; margin-top: 1rem; gap: 1rem">
        {% for te in orderedTypeEffective %}
        {% with te|get_item:'type' as type %}
        {% with te|get_item:'total' as total %}
            <div class="d-flex flex-column align-items-center" style="border-radius: 1rem; width: 6rem">
                <div class="w-100 fw-bold text-white text-capitalize" style="text-align: center; background-color: {{ type|get_type_color }}; border-top-left-radius: 1rem; border-top-right-radius: 1rem; border-bottom: 2px solid white;">{{ type }}</div>
                <div class="w-100 fw-bold" style="text-align: center; background-color: {{ total|get_type_effective_total_color }}; border-bottom-left-radius: 1rem; border-bottom-right-radius: 1rem;">{{ total|floatformat }}</div>
            </div>
        {% endwith %}
        {% endwith %}
        {% endfor %}
    </div>
    <div class="table-responsive pokemon-table compact mt-4">
        <table class="table table-dark table-striped table-hover table-bordered" style="border: white">
            <thead>
                <tr>
                    <th class="pokemon-sprite" style="position: sticky; left: 0;"></th>
                    {% for t in types %}
                        <th class="table-cell-small text-capitalize" style="background-color: {{t|get_type_color}}; border: none;">{{ t }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody style="font-size: 0.8rem">
                {% for p in pokemon %}
                {% with p.get_type_effective_map as typeMap %}
                    <tr>
                        <td class="pokemon-sprite" style="position: sticky; left: 0;">
                            <div>
                                <img src="{{ p.sprite_url }}" alt="Pokemon Sprite" style="cursor: pointer" hx-get="{% url 'leagues:leaguePokemonModal' league_id=league.id pokemon_id=p.id %}" hx-trigger="click" hx-target="#pokemon-modal" hx-swap="innerHTML">
                            </div>
                        </td>
                        {% for t in types %}
                        {% with typeMap|get_item:t as value %}
                            <td class="table-cell-small text-black" style="background-color: {{ value|get_type_effective_color }}; --bs-table-accent-bg: none;">{{ value }}</td>
                        {% endwith %}
                        {% endfor %}
                    </tr>
                {% endwith %}
                {% endfor %}
                <tr class="border-top border-white border-2">
                    <td class="pokemon-sprite" style="position: sticky; left: 0;"><div>Total</div></td>
                    {% for t in types %}
                        {% with totalTypeEffective|get_item:t as total %}
                            <td class="table-cell-small fw-bold text-black" style="text-align: center; background-color: {{ total|get_type_effective_total_color }}; --bs-table-accent-bg: none;">{{ total|floatformat }}</td>
                        {% endwith %}
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>