{% load crispy_forms_tags %}
<div id="admin-modify-tier-column-{{tier}}">
    <div class="d-flex align-items-center justify-content-center bg-dark text-white sticky-header" style="border-bottom: 2px solid white; height: 3rem"><h3 class="mb-0">{{tier}}<h3></div>
    <div class="pokemon-table">
        <table class="table table-dark table-striped table-hover table-bordered">
            <thead class="sticky-header" style="top: 3rem">
                <tr>
                    <th class="pokemon-sprite"></th>
                    <th class="table-cell-medium">
                        {% if orderBy == 'name' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:adminModifyTier' league_id=league.id tier=tier %}?order_by=-name" hx-trigger="click" hx-target="#admin-modify-tier-column-{{tier}}" hx-swap="outerHTML">Name<i class="fa-solid fa-arrow-up ms-2"></i></a>
                        {% elif orderBy == '-name' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:adminModifyTier' league_id=league.id tier=tier %}?order_by=name" hx-trigger="click" hx-target="#admin-modify-tier-column-{{tier}}" hx-swap="outerHTML">Name<i class="fa-solid fa-arrow-down ms-2"></i></a>
                        {% else %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:adminModifyTier' league_id=league.id tier=tier %}?order_by=name" hx-trigger="click" hx-target="#admin-modify-tier-column-{{tier}}" hx-swap="outerHTML">Name</a>
                        {% endif %}
                    </th>
                    <th class="table-cell-small">
                        {% if orderBy == 'speed' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:adminModifyTier' league_id=league.id tier=tier %}?order_by=-speed" hx-trigger="click" hx-target="#admin-modify-tier-column-{{tier}}" hx-swap="outerHTML">Spd<i class="fa-solid fa-arrow-up ms-2"></i></a>
                        {% elif orderBy == '-speed' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:adminModifyTier' league_id=league.id tier=tier %}?order_by=speed" hx-trigger="click" hx-target="#admin-modify-tier-column-{{tier}}" hx-swap="outerHTML">Spd<i class="fa-solid fa-arrow-down ms-2"></i></a>
                        {% else %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:adminModifyTier' league_id=league.id tier=tier %}?order_by=-speed" hx-trigger="click" hx-target="#admin-modify-tier-column-{{tier}}" hx-swap="outerHTML">Spd</a>
                        {% endif %}
                    </th>
                    <th class="table-cell-large">
                        <a class="w-100 d-inline-flex align-items-center justify-content-between">Update</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for p in pokemon %}
                    <tr>
                        <td class="pokemon-sprite">
                            <div>
                                <img src="{{ p.sprite_url }}" alt="Pokemon Sprite">
                            </div>
                        </td>
                        <td class="table-cell-medium text-capitalize">{{ p.name|truncatechars:12 }}</td>
                        <td class="table-cell-small">{{ p.speed }}</td>
                        <td class="table-cell-large d-inline-flex align-items-center" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-target="#admin-modify-tiers" hx-swap="outerHTML" hx-include="#admin-modify-tier-form-{{p.id}}">
                            <form id="admin-modify-tier-form-{{p.id}}" class="mb-0" hx-post="{%  url 'leagues:adminModifyTier' league_id=league.id tier=tier %}?pokemonId={{p.id}}" hx-trigger="submit">
                                <input class="form-control mb-0" type="number" name="point_value" value="{{tier}}">
                            </form>
                            <button class="btn btn-secondary ms-4" hx-post="{%  url 'leagues:adminModifyTier' league_id=league.id tier=tier %}?pokemonId={{p.id}}"><i class="fa-solid fa-floppy-disk"></i></button>
                        </td>
                    </tr>
                    <!--<tr hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-target="#admin-modify-tier-column-{{tier}}" hx-swap="outerHTML" hx-include="#admin-modify-tier-form-{{p.id}}">
                        <td class="pokemon-sprite"></td>
                        <td class="table-cell-medium">
                            <form id="admin-modify-tier-form-{{p.id}}" class="d-flex flex-column simple-number-input" hx-post="{%  url 'leagues:adminModifyTier' league_id=league.id tier=tier %}" hx-trigger="submit">
                                {{ f.point_value }}
                            </form>
                        </td>
                        <td class="table-cell-small">
                            <button class="btn btn-secondary" hx-post="{%  url 'leagues:adminModifyTier' league_id=league.id tier=tier %}"><i class="fa-solid fa-floppy-disk"></i></button>
                        </td>
                    </tr>-->
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>