nav {
    button.non-button {
        background-color: transparent;
        border: none;
    }

    .nav-link-logo {
        display: flex;
        flex-direction: row;
        align-items: center;

        &:hover {
            img {
                filter: brightness(125%);
            }
        }

        img {
            height: 1rem;
            margin-right: 0.5rem;
            transition: all 0.15s;
        }
    }
}

.no-padding {
    padding: 0 !important;
}

.parent-content-container {
    background-color: var(--bs-gray-100);
}

#wrapper {
    display: flex;
}

#sidebar {
    min-height: calc(100vh - 56px);
    width: 200px;
    background-color: #343a40;
    transition: all 0.3s;

    @media only screen and (max-width: 768px) {
        width: 100px;
    }

    .nav-link {
        padding-left: 1.25rem;
    }
}

#page-content-wrapper {
    min-height: calc(100vh - 56px);
    width: calc(100% - 200px);

    @media only screen and (max-width: 768px) {
        width: calc(100% - 100px);
    }
}

/* Collapsed sidebar */
#sidebar.collapsed {
    width: 0;
    overflow: hidden;
}

/* Content shifts to the right when sidebar is collapsed */
#page-content-wrapper.collapsed {
    margin-left: 0;
    width: 100%;
}

#page-content-wrapper.no-sidebar {
    width: 100%;
}

.alert-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    i {
        font-size: 1.5rem;
        margin-left: 20px;
        cursor: pointer;

        &:hover {
            filter: brightness(125%);
        }
    }
}

.pokemon-table {
    color: var(--bs-gray-100);

    table {
        tr {
            height: 5.5rem;
            min-height: 5.5rem;
            max-height: 5.5rem;
        }

        th,
        td {
            height: 5.5rem;
            min-height: 5.5rem;
            max-height: 5.5rem;
            max-width: 11rem;
            padding: 1rem;
            text-align: left;
            vertical-align: middle;

            &.table-cell-xsmall {
                width: 3.5rem;
                min-width: 3.5rem;
                max-width: 3.5rem;
            }

            &.table-cell-small {
                width: 5.5rem;
                min-width: 5.5rem;
                max-width: 5.5rem;
            }

            &.table-cell-medium {
                width: 8rem;
                min-width: 8rem;
                max-width: 8rem;
            }

            &.table-cell-large {
                width: 10rem;
                min-width: 10rem;
                max-width: 15rem;
            }

            &.table-cell-xlarge {
                width: 16rem;
                min-width: 16rem;
                max-width: 32rem;
            }

            a {
                cursor: pointer;
                text-decoration: none;
                color: var(--bs-gray-100);

                &:hover {
                    filter: brightness(75%);
                }
            }
        }

        .pokemon-sprite {
            padding: 0;
            width: 5.5rem;
            max-width: 5.5rem;
            min-width: 5.5rem;
            height: 5.5rem;
            max-height: 5.5rem;
            min-height: 5.5rem;

            div {
                display: flex;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                
                img {
                    max-width: 3rem;
                    max-height: 3rem;
                }
            }
        }

        .pokemon-types-container,
        .pokemon-abilities-container {
            display: inline-flex;
            align-items: center;
            width: 100%;
            gap: 0.5rem;

            .pokemon-pill {
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: capitalize;
                padding: 0.25rem 1rem;
                background-color: var(--bs-gray-700);
                border-radius: 1rem;
            }
        }
    }

    &.compact {
        font-size: 0.5rem;

        table {
            tr {
                height: 2.75rem;
                min-height: 2.75rem;
                max-height: 2.75rem;
            }
    
            th,
            td {
                height: 2.75rem;
                min-height: 2.75rem;
                max-height: 2.75rem;
                max-width: 5.5rem;
                padding: 0.5rem;

                &.table-cell-xsmall {
                    width: 1.75rem;
                    min-width: 1.75rem;
                    max-width: 1.75rem;
                }
    
                &.table-cell-small {
                    width: 2.75rem;
                    min-width: 2.75rem;
                    max-width: 2.75rem;
                }
    
                &.table-cell-medium {
                    width: 4rem;
                    min-width: 4rem;
                    max-width: 4rem;
                }
    
                &.table-cell-large {
                    width: 5rem;
                    min-width: 5rem;
                    max-width: 7.5rem;
                }

                &.table-cell-xlarge {
                    width: 8rem;
                    min-width: 8rem;
                    max-width: 16rem;
                }

                button {
                    font-size: 0.5rem;
                }
            }
    
            .pokemon-sprite {
                width: 2.75rem;
                max-width: 2.75rem;
                min-width: 2.75rem;
                height: 2.75rem;
                max-height: 2.75rem;
                min-height: 2.75rem;
                padding: 0;
    
                div {
                    img {
                        max-width: 1.5rem;
                        max-height: 1.5rem;
                    }
                }
            }
    
            .pokemon-types-container,
            .pokemon-abilities-container {
                gap: 0.25rem;
    
                .pokemon-pill {
                    padding: 0.125rem 0.5rem;
                    border-radius: 0.5rem;
                }
            }
        }
    }

    &.responsive {
        @media only screen and (max-width: 768px) {
            font-size: 0.5rem;

            table {
                tr {
                    height: 2.75rem;
                    min-height: 2.75rem;
                    max-height: 2.75rem;
                }
        
                th,
                td {
                    height: 2.75rem;
                    min-height: 2.75rem;
                    max-height: 2.75rem;
                    max-width: 5.5rem;
                    padding: 0.5rem;

                    &.table-cell-xsmall {
                        width: 1.75rem;
                        min-width: 1.75rem;
                        max-width: 1.75rem;
                    }
        
                    &.table-cell-small {
                        width: 2.75rem;
                        min-width: 2.75rem;
                        max-width: 2.75rem;
                    }
        
                    &.table-cell-medium {
                        width: 4rem;
                        min-width: 4rem;
                        max-width: 4rem;
                    }
        
                    &.table-cell-large {
                        width: 5rem;
                        min-width: 5rem;
                        max-width: 7.5rem;
                    }

                    &.table-cell-xlarge {
                        width: 8rem;
                        min-width: 8rem;
                        max-width: 16rem;
                    }

                    button {
                        font-size: 0.5rem;
                    }
                }
        
                .pokemon-sprite {
                    width: 2.75rem;
                    max-width: 2.75rem;
                    min-width: 2.75rem;
                    height: 2.75rem;
                    max-height: 2.75rem;
                    min-height: 2.75rem;
                    padding: 0;
        
                    div {
                        img {
                            max-width: 1.5rem;
                            max-height: 1.5rem;
                        }
                    }
                }
        
                .pokemon-types-container,
                .pokemon-abilities-container {
                    gap: 0.25rem;
        
                    .pokemon-pill {
                        padding: 0.125rem 0.5rem;
                        border-radius: 0.5rem;
                    }
                }
            }
        }
    }
}

.sticky-header {
    position: sticky;
    top: 0;
}

.user-profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 5px 5px 5px var(--bs-secondary);

    img {
        max-width: 10rem;
        object-fit: cover;
    }

    &.compact {
        height: 4rem;
        width: 4rem;
        box-shadow: 2px 2px 2px var(--bs-secondary);

        img {
            max-width: 4rem;
        }
    }
}

.toggle-expand-parent[aria-expanded=true] .toggle-expand-icon {
    display: none;
}

.toggle-expand-parent[aria-expanded=false] .toggle-collapse-icon {
    display: none;
}

div.speed-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;

    &.fast {
        background-color: #AA4203;
        color: #ffce00;
    }

    &.slow {
        background-color: #257ca3;
        color: #baf2ef;
    }
}

.speed-stat-text {
    text-align: center !important;
    font-weight: bold !important;
    color: #212529 !important;
    font-size: 0.75rem !important;

    &:hover {
        color: #212529 !important;
    }
}

.expansion-button {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.zoom-icon {
    position: absolute;
    z-index: 1;
    height: 0;
    color: white;
    font-size: 1.5rem;
    left: 8px;

    &:hover {
        color: var(--bs-secondary);
    }
}

.team-matchup-panel {
    width: 50%;
    
    @media only screen and (max-width: 768px) {
        width: 100%;
    }
}

.speed-tier-table {
    display: inline-flex;
    align-items: center;
    background-color: var(--bs-secondary);
    gap: 1rem;
    padding: 0 1rem;
    padding-bottom: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    @media only screen and (max-width: 768px) {
        gap: 0;
        width: 100%;
        justify-content: center;
    }

    .speed-tier-table-child {
        @media only screen and (max-width: 768px) {
            width: 8rem;
        }
    }
    
    .speed-tier-team-name {
        color: white;
        font-weight: bold;
        font-size: 1.2rem;

        @media only screen and (max-width: 768px) {
            gap: 0.9rem;
        }
    }

    .speed-tier-table-header {
        display: inline-flex;
        align-items: center;
        border-bottom: black solid 2px;
    }

    .speed-tier-table-header-cell {
        display: flex;
        align-items: center;
        font-weight: bold;
        justify-content: center;
        width: 3rem;
        height: 2rem;
        white-space: nowrap;
    }

    .speed-tier-table-body-cell {
        display: flex;
        align-items: center;
        text-transform: capitalize;
        justify-content: center;
        font-size: 1.1rem;
        width: 3rem;
        height: 2rem;
        white-space: nowrap;
    }

    .mobile-none {
        @media only screen and (max-width: 768px) {
            display: none;
        }   
    }
}

.speed-tier-matchup-button {
    width: 51rem;
    align-self: center;
    @media only screen and (max-width: 768px) {
        width: 100%;
    }
}