{% extends 'non_sidebar_page.html' %}

{% block title %}
    Settings
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="d-inline-flex align-items-center mb-4">
            <div class="user-profile-picture me-5">
                {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" alt="User Profile Picture">
                {% else %}
                <img src="/media/default_profile_picture.jpg" alt="User Profile Picture">
                {% endif %}
            </div>
            <h1 class="text-capitalize">{{ user.username }}</h1>
        </div>
        <form class="d-flex flex-column" action="{% url 'users:settings' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-secondary my-5">Save</button>
        </form>
    </div>
{% endblock %}