{% extends 'leagues/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="d-flex flex-column flex-md-row" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-target="#pokemon-search-results-page" hx-swap="innerHTML" hx-include="#pokemon-search-form">
        <div class="me-md-5 px-2 overflow-auto" style="max-height: 50vh">
            <h1>Pokemon Search</h1>
            <button class="btn btn-secondary mt-2 mb-4 w-100" hx-post="{%  url 'leagues:leaguePokemonSearchResults' id=league.id %}" hx-trigger="click">Search</button>
            <form id="pokemon-search-form" class="d-flex flex-column">
                {{ form|crispy }}
            </form>
            <button class="btn btn-secondary mt-2 mb-4 w-100" hx-post="{%  url 'leagues:leaguePokemonSearchResults' id=league.id %}" hx-trigger="click">Search</button>
        </div>
        <div class="w-100" hx-post="{%  url 'leagues:leaguePokemonSearchResults' id=league.id %}" hx-trigger="load">
            <div id="pokemon-search-results-page"></div>
        </div>
    </div>
{% endblock %}