{% extends 'leagues/base.html' %}

{% block content %}
    <h1>Pokedex</h1>
    <!--<form action="{% url 'leagues:initializePointData' id=activeSeason.id %}" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" aria-label="Initialize Point Data" title="Initialize Point Data">Initialize Point Data</button>
    </form>-->
    <div class="d-md-inline-flex">
        <nav class="d-flex me-5" aria-label="Page Navigation">
            <ul class="pagination">
                {% if pokemonPage.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ pokemonPage.previous_page_number }}&order_by={{ orderBy }}&page_size={{ pageSize }}"><i class="fa-solid fa-chevron-left"></i></a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#"><i class="fa-solid fa-chevron-left"></i></a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="?page=1&order_by={{ orderBy }}&page_size={{ pageSize }}">1</a></li>
                <li class="page-item"><a class="page-link" href="?page=2&order_by={{ orderBy }}&page_size={{ pageSize }}">2</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ lastPage }}&order_by={{ orderBy }}&page_size={{ pageSize }}">{{ lastPage }}</a></li>
                {% if pokemonPage.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ pokemonPage.next_page_number }}&order_by={{ orderBy }}&page_size={{ pageSize }}"><i class="fa-solid fa-chevron-right"></i></a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#"><i class="fa-solid fa-chevron-right"></i></a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="dropdown mb-2 mb-md-0">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ pageSize }}
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="?page={{ pokemonPage.number }}&order_by={{ orderBy }}&page_size=10">10</a></li>
                <li><a class="dropdown-item" href="?page={{ pokemonPage.number }}&order_by={{ orderBy }}&page_size=25">25</a></li>
                <li><a class="dropdown-item" href="?page={{ pokemonPage.number }}&order_by={{ orderBy }}&page_size=50">50</a></li>
                <li><a class="dropdown-item" href="?page={{ pokemonPage.number }}&order_by={{ orderBy }}&page_size=100">100</a></li>
            </ul>
        </div>
    </div>
    <div class="table-responsive pokemon-table">
        <table class="table table-dark table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th class="pokemon-sprite"></th>
                    <th class="table-cell-medium">
                        {% if orderBy == 'name' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=-name&page_size={{ pageSize }}">Name<i class="fa-solid fa-arrow-up ms-2"></i></a>
                        {% elif orderBy == '-name' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=name&page_size={{ pageSize }}">Name<i class="fa-solid fa-arrow-down ms-2"></i></a>
                        {% else %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=name&page_size={{ pageSize }}">Name</a>
                        {% endif %}
                    </th>
                    <th class="table-cell-large">Types</th>
                    <th class="table-cell-xlarge">Abilities</th>
                    <th class="table-cell-small">
                        {% if orderBy == 'hp' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=-hp&page_size={{ pageSize }}">HP<i class="fa-solid fa-arrow-up ms-2"></i></a>
                        {% elif orderBy == '-hp' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=hp&page_size={{ pageSize }}">HP<i class="fa-solid fa-arrow-down ms-2"></i></a>
                        {% else %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=-hp&page_size={{ pageSize }}">HP</a>
                        {% endif %}
                    </th>
                    <th class="table-cell-small">
                        {% if orderBy == 'attack' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=-attack&page_size={{ pageSize }}">Atk<i class="fa-solid fa-arrow-up ms-2"></i></a>
                        {% elif orderBy == '-attack' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=attack&page_size={{ pageSize }}">Atk<i class="fa-solid fa-arrow-down ms-2"></i></a>
                        {% else %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=-attack&page_size={{ pageSize }}">Atk</a>
                        {% endif %}
                    </th>
                    <th class="table-cell-small">
                        {% if orderBy == 'defense' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=-defense&page_size={{ pageSize }}">Def<i class="fa-solid fa-arrow-up ms-2"></i></a>
                        {% elif orderBy == '-defense' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=defense&page_size={{ pageSize }}">Def<i class="fa-solid fa-arrow-down ms-2"></i></a>
                        {% else %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=-defense&page_size={{ pageSize }}">Def</a>
                        {% endif %}
                    </th>
                    <th class="table-cell-small">
                        {% if orderBy == 'special_attack' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=-special_attack&page_size={{ pageSize }}">SpA<i class="fa-solid fa-arrow-up ms-2"></i></a>
                        {% elif orderBy == '-special_attack' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=special_attack&page_size={{ pageSize }}">SpA<i class="fa-solid fa-arrow-down ms-2"></i></a>
                        {% else %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=-special_attack&page_size={{ pageSize }}">SpA</a>
                        {% endif %}
                    </th>
                    <th class="table-cell-small">
                        {% if orderBy == 'special_defense' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=-special_defense&page_size={{ pageSize }}">SpD<i class="fa-solid fa-arrow-up ms-2"></i></a>
                        {% elif orderBy == '-special_defense' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=special_defense&page_size={{ pageSize }}">SpD<i class="fa-solid fa-arrow-down ms-2"></i></a>
                        {% else %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=-special_defense&page_size={{ pageSize }}">SpD</a>
                        {% endif %}
                    </th>
                    <th class="table-cell-small">
                        {% if orderBy == 'speed' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=-speed&page_size={{ pageSize }}">Spd<i class="fa-solid fa-arrow-up ms-2"></i></a>
                        {% elif orderBy == '-speed' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=speed&page_size={{ pageSize }}">Spd<i class="fa-solid fa-arrow-down ms-2"></i></a>
                        {% else %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=-speed&page_size={{ pageSize }}">Spd</a>
                        {% endif %}
                    </th>
                    <th class="table-cell-small">
                        {% if orderBy == 'base_stat_total' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=-base_stat_total&page_size={{ pageSize }}">BST<i class="fa-solid fa-arrow-up ms-2"></i></a>
                        {% elif orderBy == '-base_stat_total' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=base_stat_total&page_size={{ pageSize }}">BST<i class="fa-solid fa-arrow-down ms-2"></i></a>
                        {% else %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=-base_stat_total&page_size={{ pageSize }}">BST</a>
                        {% endif %}
                    </th>
                    <th class="table-cell-small">
                        {% if orderBy == 'point_value' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=-point_value&page_size={{ pageSize }}">Pts<i class="fa-solid fa-arrow-up ms-2"></i></a>
                        {% elif orderBy == '-point_value' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=point_value&page_size={{ pageSize }}">Pts<i class="fa-solid fa-arrow-down ms-2"></i></a>
                        {% else %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" href="?page={{ pokemonPage.number }}&order_by=-point_value&page_size={{ pageSize }}">Pts</a>
                        {% endif %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for pokemon in pokemonPage.object_list %}
                    <tr>
                        <td class="pokemon-sprite">
                            <div>
                                <img src="{{ pokemon.sprite_url }}" alt="Pokemon Sprite">
                            </div>
                        </td>
                        <td class="table-cell-medium text-capitalize">{{ pokemon.name }}</td>
                        <td class="table-cell-large">
                            <div class="pokemon-types-container">
                                {% for t in pokemon.pokemon_types.all %}
                                    <div class="pokemon-pill" style="background-color: {{t.type.color}}">{{ t.type.name }}</div>
                                {% endfor %}
                            </div>
                        </td>
                        <td class="table-cell-xlarge">
                            <div class="pokemon-abilities-container">
                                {% for a in pokemon.pokemon_abilities.all %}
                                    <div class="pokemon-pill">{{ a.name }}</div>
                                {% endfor %}
                            </div>
                        </td>
                        <td class="table-cell-small">{{ pokemon.hp }}</td>
                        <td class="table-cell-small">{{ pokemon.attack }}</td>
                        <td class="table-cell-small">{{ pokemon.defense }}</td>
                        <td class="table-cell-small">{{ pokemon.special_attack }}</td>
                        <td class="table-cell-small">{{ pokemon.special_defense }}</td>
                        <td class="table-cell-small">{{ pokemon.speed }}</td>
                        <td class="table-cell-small">{{ pokemon.base_stat_total }}</td>
                        <td class="table-cell-small">{{ pokemon.point_value }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="d-md-inline-flex">
        <nav class="d-flex me-5" aria-label="Page Navigation">
            <ul class="pagination">
                {% if pokemonPage.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ pokemonPage.previous_page_number }}&order_by={{ orderBy }}&page_size={{ pageSize }}"><i class="fa-solid fa-chevron-left"></i></a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#"><i class="fa-solid fa-chevron-left"></i></a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="?page=1&order_by={{ orderBy }}&page_size={{ pageSize }}">1</a></li>
                <li class="page-item"><a class="page-link" href="?page=2&order_by={{ orderBy }}&page_size={{ pageSize }}">2</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ lastPage }}&order_by={{ orderBy }}&page_size={{ pageSize }}">{{ lastPage }}</a></li>
                {% if pokemonPage.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ pokemonPage.next_page_number }}&order_by={{ orderBy }}&page_size={{ pageSize }}"><i class="fa-solid fa-chevron-right"></i></a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#"><i class="fa-solid fa-chevron-right"></i></a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="dropdown mb-2 mb-md-0">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ pageSize }}
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="?page={{ pokemonPage.number }}&order_by={{ orderBy }}&page_size=10">10</a></li>
                <li><a class="dropdown-item" href="?page={{ pokemonPage.number }}&order_by={{ orderBy }}&page_size=25">25</a></li>
                <li><a class="dropdown-item" href="?page={{ pokemonPage.number }}&order_by={{ orderBy }}&page_size=50">50</a></li>
                <li><a class="dropdown-item" href="?page={{ pokemonPage.number }}&order_by={{ orderBy }}&page_size=100">100</a></li>
            </ul>
        </div>
    </div>
{% endblock %}