{% extends 'non_sidebar_page.html' %}

{% block title %}
    Password Reset Sent
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h1>Password Reset Sent</h1>
        <div class="mb-2">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</div>
        <div>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</div>
    </div>
{% endblock %}