{% extends 'non_sidebar_page.html' %}

{% block title %}
    Reset Password
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h1>Reset Password</h1>
        <div class="mb-4">Forgot your password? Please enter the email address you used to register with us and we will send you a link to reset your password.</div>
        <form class="d-flex flex-column" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-secondary my-5">Send Email</button>
        </form>
    </div>
{% endblock %}