<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        PDS - 
        {% block title %}
        {% endblock %}
    </title>
    <link rel="icon" href="{% static 'icons/poke_ball_icon.svg' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/main.js' %}" defer></script>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <nav class="navbar navbar-expand bg-dark navbar-dark shadow-sm">
        <div class="container-fluid justify-space-between">
            {% if user.is_authenticated %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:settings' %}">Settings</a>
                    </li>
                </ul>
            {% endif %}
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <form action="{% url 'users:logout' %}" method="post">
                            {% csrf_token %} 
                            <button class="nav-link non-button" aria-label="User Logout" title="User Logout">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="bg-secondary container-fluid no-padding">
        <div class="d-flex" id="wrapper">
            <!-- Sidebar -->
            {% block sidebar %}
            {% endblock %}

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <main class="container d-flex flex-column justify-content-center">
                    {% block content %}
                    {% endblock %}
                </main>
            </div>
        </div>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                <div class="alert {{ message.tags }} shadow fade show" role="alert">
                    <div class="alert-body">
                        {{ message | safe }}
                        <i class="fa-solid fa-circle-xmark" data-bs-dismiss="alert"></i>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</body>
</html>

<!-- class="position-fixed bottom-0 end-0 p-3" style="z-index: 11"-->