{% extends 'sidebar_page.html' %}

{% block title %}
    {{ league.abbreviation }}
{% endblock %}

{% block sidebar %}
    <nav class="navbar-dark shadow-sm collapsed" id="sidebar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{%  url 'leagues:league' id=league.id %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%  url 'leagues:teamMatchup' id=league.id %}">Team Matchup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%  url 'leagues:leaguePokemonTiers' id=league.id %}">Tier List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%  url 'leagues:leaguePokemonTypeTiers' id=league.id %}">Type Tier List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%  url 'leagues:leaguePokemonSearch' id=league.id %}">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%  url 'leagues:leaguePokemonList' id=league.id %}">Pokedex</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%  url 'leagues:teamSettings' id=league.id %}">Team Settings</a>
            </li>
            {% if isLeagueModerator %}
                <li class="nav-item">
                    <a class="nav-link toggle-expand-parent d-inline-flex align-items-center" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Admin
                        <i class="toggle-expand-icon fa-solid fa-chevron-down ms-2"></i>
                        <i class="toggle-collapse-icon fa-solid fa-chevron-up ms-2"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
        {% if isLeagueModerator %}
            <div class="collapse ps-3" id="collapseExample">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{%  url 'leagues:adminModifyTeam' id=league.id %}">Modify Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%  url 'leagues:adminModifyTiers' id=league.id %}">Modify Tiers</a>
                    </li>
                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="{%  url 'leagues:adminInitializePokemonData' id=league.id %}">Pokemon Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{%  url 'leagues:adminInitializePointData' id=league.id %}">Point Data</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </nav>
    <div class="sidebar-toggle" id="menu-toggle">
        <i class="fa-solid fa-bars"></i>
    </div>
{% endblock %}

{% block content %}
{% endblock %}