<div class="modal fade" id="pokemon-modal-content" tabindex="-1" aria-labelledby="pokemonModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-capitalize fw-bold" id="pokemonModalLabel">{{ pokemon.name }}</h1>
                <button type="button" class="btn-close" style="background-color: var(--bs-secondary)" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column flex-md-row w-100" style="gap: 2rem; margin-bottom: 2rem;">
                    <div class="d-flex align-items-center justify-content-center" style="width: 10rem; height: 10rem; border-radius: 2rem; border: 2px solid white;">
                        <img src="{{ pokemon.sprite_url }}" alt="Pokemon Sprite" style="max-height: 10rem; max-width: 10rem" />
                    </div>
                    <div class="d-flex flex-column" style="gap: 1rem">
                        <div class="d-inline-flex align-items-center" style="gap: 0.5rem">
                            <div class="fw-bold" style="width: 5rem">Type:</div>
                            {% for t in pokemon.pokemon_types.all %}
                                <div class="d-flex text-capitalize" style="padding: 0.125rem 0; width: 6rem; justify-content: center; border-radius: 0.75rem; background-color: {{ t.type.color }}">{{ t.type.name }}</div>
                            {% endfor %}
                        </div>
                        <div class="d-inline-flex align-items-center" style="gap: 0.5rem">
                            <div class="fw-bold" style="width: 5rem">Abilities:</div>
                            <div class="d-flex flex-column" style="gap: 0.5rem">
                                {% for a in pokemon.pokemon_abilities.all %}
                                    <div class="d-flex text-capitalize" style="padding: 0.125rem 0.5rem; justify-content: center; border-radius: 0.75rem; background-color: var(--bs-secondary)">{{ a.name }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-inline-flex align-items-center">
                            <div class="fw-bold" style="width: 5rem">HP:</div>
                            <div style="width: 2rem; text-align: end; margin-right: 0.5rem;">{{ pokemon.hp }}</div>
                            <div style="width: {{ pokemon.hp|get_stat_value_length }}px; height: 0.75rem; background-color: {{ pokemon.hp|get_stat_color }}; border-radius: 0.75rem"></div>
                        </div>
                        <div class="d-inline-flex align-items-center">
                            <div class="fw-bold" style="width: 5rem">Attack:</div>
                            <div style="width: 2rem; text-align: end; margin-right: 0.5rem;">{{ pokemon.attack }}</div>
                            <div style="width: {{ pokemon.attack|get_stat_value_length }}px; height: 0.75rem; background-color: {{ pokemon.attack|get_stat_color }}; border-radius: 0.75rem"></div>
                        </div>
                        <div class="d-inline-flex align-items-center">
                            <div class="fw-bold" style="width: 5rem">Defense:</div>
                            <div style="width: 2rem; text-align: end; margin-right: 0.5rem;">{{ pokemon.defense }}</div>
                            <div style="width: {{ pokemon.defense|get_stat_value_length }}px; height: 0.75rem; background-color: {{ pokemon.defense|get_stat_color }}; border-radius: 0.75rem"></div>
                        </div>
                        <div class="d-inline-flex align-items-center">
                            <div class="fw-bold" style="width: 5rem">Sp. Atk:</div>
                            <div style="width: 2rem; text-align: end; margin-right: 0.5rem;">{{ pokemon.special_attack }}</div>
                            <div style="width: {{ pokemon.special_attack|get_stat_value_length }}px; height: 0.75rem; background-color: {{ pokemon.special_attack|get_stat_color }}; border-radius: 0.75rem"></div>
                        </div>
                        <div class="d-inline-flex align-items-center">
                            <div class="fw-bold" style="width: 5rem">Sp. Def:</div>
                            <div style="width: 2rem; text-align: end; margin-right: 0.5rem;">{{ pokemon.special_defense }}</div>
                            <div style="width: {{ pokemon.special_defense|get_stat_value_length }}px; height: 0.75rem; background-color: {{ pokemon.special_defense|get_stat_color }}; border-radius: 0.75rem"></div>
                        </div>
                        <div class="d-inline-flex align-items-center">
                            <div class="fw-bold" style="width: 5rem">Speed:</div>
                            <div style="width: 2rem; text-align: end; margin-right: 0.5rem;">{{ pokemon.speed }}</div>
                            <div style="width: {{ pokemon.speed|get_stat_value_length }}px; height: 0.75rem; background-color: {{ pokemon.speed|get_stat_color }}; border-radius: 0.75rem"></div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row w-100" style="gap: 2rem; flex-wrap: wrap; margin-bottom: 2rem;">
                    {% with pokemon|get_pokemon_special_move_dictionary as special_move_dict %}
                        {% for category in special_move_dict|get_sorted_keys %}
                            <div class="d-inline-flex align-items-center" style="gap: 0.5rem; flex-wrap: wrap;">
                                <div class="fw-bold text-capitalize">{{ category }}:</div>
                                {% for move in special_move_dict|get_item:category %}
                                    <div class="d-flex align-items-center text-capitalize" style="white-space: nowrap; padding: 0.125rem 0.5rem; justify-content: center; border-radius: 0.75rem; background-color: {{ move|get_item:'color' }}">
                                        {{ move|get_item:'name' }}
                                        {% with move|get_item:'category' as category %}
                                            <i class="fa-solid {{ category|get_category_icon }} ms-1"></i>
                                        {% endwith %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endwith %}
                </div>
                <div class="d-flex flex-row w-100" style="gap: 2rem; flex-wrap: wrap;">
                    {% with pokemon|get_pokemon_coverage_move_dictionary as coverage_move_dict %}
                        {% for type in coverage_move_dict|get_sorted_keys %}
                            <div class="d-inline-flex align-items-center" style="gap: 0.5rem; flex-wrap: wrap;">
                                <div class="fw-bold text-capitalize">{{ type }}:</div>
                                {% for move in coverage_move_dict|get_item:type %}
                                    <div class="d-flex align-items-center text-capitalize" style="white-space: nowrap; padding: 0.125rem 0.5rem; justify-content: center; border-radius: 0.75rem; background-color: {{ move|get_item:'color' }}">
                                        {{ move|get_item:'name' }}
                                        {% with move|get_item:'category' as category %}
                                            <i class="fa-solid {{ category|get_category_icon }} ms-1"></i>
                                        {% endwith %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>