<div id="pokemon-type-tier-column-{{type.id}}">
    <div class="d-flex align-items-center justify-content-center text-white text-capitalize sticky-header" style="background-color: {{type.color}}; border-bottom: 2px solid white; height: 3rem"><h3 class="mb-0">{{type.name}}<h3></div>
    <div class="pokemon-table compact">
        <table class="table table-dark table-striped table-hover table-bordered">
            <thead class="sticky-header" style="top: 3rem">
                <tr>
                    <th class="pokemon-sprite"></th>
                    <th class="table-cell-medium">
                        {% if orderBy == 'name' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:leaguePokemonTypeTier' league_id=league.id type_id=type.id %}?order_by=-name" hx-trigger="click" hx-target="#pokemon-type-tier-column-{{type.id}}" hx-swap="outerHTML">Name<i class="fa-solid fa-arrow-up ms-2"></i></a>
                        {% elif orderBy == '-name' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:leaguePokemonTypeTier' league_id=league.id type_id=type.id %}?order_by=name" hx-trigger="click" hx-target="#pokemon-type-tier-column-{{type.id}}" hx-swap="outerHTML">Name<i class="fa-solid fa-arrow-down ms-2"></i></a>
                        {% else %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:leaguePokemonTypeTier' league_id=league.id type_id=type.id %}?order_by=name" hx-trigger="click" hx-target="#pokemon-type-tier-column-{{type.id}}" hx-swap="outerHTML">Name</a>
                        {% endif %}
                    </th>
                    <th class="table-cell-small">
                        {% if orderBy == 'point_value' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:leaguePokemonTypeTier' league_id=league.id type_id=type.id %}?order_by=-point_value" hx-trigger="click" hx-target="#pokemon-type-tier-column-{{type.id}}" hx-swap="outerHTML">Pts<i class="fa-solid fa-arrow-up ms-2"></i></a>
                        {% elif orderBy == '-point_value' %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:leaguePokemonTypeTier' league_id=league.id type_id=type.id %}?order_by=point_value" hx-trigger="click" hx-target="#pokemon-type-tier-column-{{type.id}}" hx-swap="outerHTML">Pts<i class="fa-solid fa-arrow-down ms-2"></i></a>
                        {% else %}
                            <a class="w-100 d-inline-flex align-items-center justify-content-between" hx-get="{%  url 'leagues:leaguePokemonTypeTier' league_id=league.id type_id=type.id %}?order_by=-point_value" hx-trigger="click" hx-target="#pokemon-type-tier-column-{{type.id}}" hx-swap="outerHTML">Pts</a>
                        {% endif %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for p in pokemon %}
                    <tr>
                        {% if p.team %}
                            {% if p.condition %}
                            <td class="pokemon-sprite" style="background: repeating-linear-gradient(-45deg, #550000, #550000 5px, #2c3034 5px, #2c3034 10px); --bs-table-accent-bg: none;" data-toggle="tooltip" data-placement="top" title="{{ p.condition }}">
                            {% else %}
                            <td class="pokemon-sprite" style="background-color: #550000; --bs-table-accent-bg: none;">
                            {% endif %}
                                <div>
                                    <img src="{{ p.sprite_url }}" alt="Pokemon Sprite" style="cursor: pointer" hx-get="{% url 'leagues:leaguePokemonModal' league_id=league.id pokemon_id=p.id %}" hx-trigger="click" hx-target="#pokemon-modal" hx-swap="innerHTML">
                                </div>
                            </td>
                            <td class="table-cell-medium text-capitalize" style="background-color: #550000; --bs-table-accent-bg: none;">
                                <a href="{{ p.get_smogon_link }}" target="_blank">{{ p.name|truncatechars:12 }}</a>
                            </td>
                            <td class="table-cell-small" style="background-color: #550000; --bs-table-accent-bg: none;">{{ p.speed }}</td>
                        {% else %}
                            {% if p.condition %}
                            <td class="pokemon-sprite" style="background: repeating-linear-gradient(-45deg, #212529, #212529 5px, #2c3034 5px, #2c3034 10px); --bs-table-accent-bg: none;" data-toggle="tooltip" data-placement="top" title="{{ p.condition }}">
                            {% else %}
                            <td class="pokemon-sprite">
                            {% endif %}
                                <div>
                                    <img src="{{ p.sprite_url }}" alt="Pokemon Sprite" style="cursor: pointer" hx-get="{% url 'leagues:leaguePokemonModal' league_id=league.id pokemon_id=p.id %}" hx-trigger="click" hx-target="#pokemon-modal" hx-swap="innerHTML">
                                </div>
                            </td>
                            <td class="table-cell-medium text-capitalize">
                                <a href="{{ p.get_smogon_link }}" target="_blank">{{ p.name|truncatechars:12 }}</a>
                            </td>
                            <td class="table-cell-small">{{ p.speed }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div id="pokemon-modal"></div>