:root {
    --font-color: #e3e3e3;
}

nav {
    button.non-button {
        background-color: transparent;
        border: none;
    }
}

main {
    color: var(--font-color) !important;
}

.notification {
    position: relative;
    z-index: 1;
    height: 0;
    top: -1rem;
    transition: opacity 0.3s;
    opacity: 1;
}